*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}
body{
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow-x: hidden;
    background-color: lightgray;
}
.container{
    display: grid;
    width: 96%;  
    gap:0.5rem;
    grid-template-columns: 12rem auto 1rem;
}
img{
    display: block;
    width: 100%;
}
aside{
    height: 100vh;
    
    
}
aside .togle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 1rem;
}
aside .togle h3{
    font-size: 2rem;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
aside .togle .logo img{
    width: 4rem;
    height: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
aside .sidebar{
    display: flex;
    
    flex-direction: column;
    height: 80vh;
    position: relative;
    border-radius: 15px;
    top: 1.4rem;
    background-color: white;
    
    }
aside .sidebar a{
    display: flex;
    height: 3.7rem;
    align-items: center;
    color: black;
    gap:1.7rem;
    margin-left: 1rem;
    position: relative;
    border-bottom: 1px solid red;
    transition: all 0.4s ease;
}
aside .sidebar a:hover{
    margin-left: 0.8rem;
    color: red;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 4.5rem;
    width: 92%;
}
main h1{
    font-size: 2rem;
    margin-top: 1.5rem;
    width: 100%;
    height: 5vh;
    position: absolute;
    
}
main h2{
    font-size: 2rem;
    margin-top: 1.5rem;
    position: absolute;
    
}

main{  
    display: flex;
    width: 100vw;
    height: 90vh;
    flex-flow: wrap row;
    gap:1rem;    
    margin-right: 2rem;
    background-color: lavender;
    position: relative;
    
}
main .today-section{
    width:20%;
    height: 30vh;
    margin-top: 8.5rem;
    margin-left: 0.5rem;
}
main .main-section{
    width: 60%;
    height: 70vh;
    background-color: beige;
    margin-top: 7rem;
}
main .items{
    width: 80%;
    height: 25vh;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    margin-top: 1.5rem;
    justify-content: space-around;
    
}
main div{
    border-radius: 15px;
    
}
main .items .item1:hover,.item2:hover,.item3:hover,.item4:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}

.today{
    width: 100%;
    height: 70vh;
    background-color: white;
}


main .items .item1{
    width: 45%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;       
}
main .items .item1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}



main section .material-icons-sharp{
    font-size: 2rem;
    margin-top: 1.5rem;
    
}
main .items .item2{
    width: 45%;
    height:10vh;
    background-color: white;
}
main .items .item3{
    width: 45%;
    height: 10vh;
    background-color: white;
}
main .items .item4{
    width: 45%;
    height: 10vh;
    background-color: white;
}
main .display{
    background-color: white;
    width: 100%;
    height: 51vh;
    margin-top: 5rem;
    margin-left: 1rem;
    position: relative;
}
